In [1]:
from fastai.tabular import *

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dep_var = 'Survived'
cat_names = ['Sex', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
cont_names = ['Age']
procs = [FillMissing, Categorify, Normalize]

In [5]:
test = TabularList.from_df(df.iloc[700:890].copy(), path=".", cat_names=cat_names, cont_names=cont_names)

In [6]:
data = (TabularList.from_df(df, path=".", cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(700,890)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [7]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [8]:
# kernel dies for some reason if you don't have a GPU
# learn.lr_find()
# learn.recorder.plot()

In [9]:
learn.fit_one_cycle(5, 1e-2)

In [10]:
test_csv = pd.read_csv("train.csv")

In [13]:
learn.predict(test_csv.iloc[0])

(Category 0, tensor(0), tensor([0.9851, 0.0149]))

In [14]:
test_csv.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
for